<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean id="pwd" class="in.ahmed.beans.PwdService"/>
	
	<bean id="ud" class="in.ahmed.beans.UserService">
	
	<constructor-arg  name="pwdService" ref="pwd"></constructor-arg>
	
	<property name="pwdService"  ref="pwd"/>
	</bean>

</beans>